/* Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*  */

/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
}

/*  */

/* Base reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

/*  */

/* box-sizing and font sizing */

html {
    scroll-behavior: smooth;
}

/* General */

a, a:visited {
    text-decoration: none;
    color: black;
}

/*  */

#main-doc {
    /* margin-top: 100px; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 0 rgba(242, 245, 254, 1);
    z-index: 10;
}

#navbar {
    font-size: 25px;
}

.nav-list {
    list-style: none;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.nav-list-item, .nav-list-item:visited {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.welcome-section {
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.welcome-holder {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin-top: 115px;
    flex: 10;
}

#welcome-text {
    width: 50%;
    justify-self: center;
    justify-content: center;
}

#welcome-image {
    border-radius: 50%;
    align-self: flex-end;
}

#prof-pic {
    border-radius: 5%;
}

h1 {
    font-size: 100px;
    word-spacing: -30px;
}



#my-name {
    display: inline-block;
    line-height: 110px;
}

#cursor {
    display: inline;
    word-spacing: -40px;
    font-size: larger;
}

#description {
    font-size: 25px;
}

#github {
    width: 20px;
    height: 20px;
}

/* Media Queries */

@media only screen and (max-width: 1022px) {
    h1 {
        font-size: 80px;
        word-spacing: -13px;
    }
    #welcome-holder {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #description {
        font-size: 20px;
    }
    #welcome-text {
        display: inline-block;
        vertical-align: middle;
        height: fit-content;
    }
    #welcome-image {}
    #prof-pic {
        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (max-width: 795px) {
    h1 {
        font-size: 10vw;
        word-spacing: -13px;
    }
    #description {
        font-size: 25px;
    }

    #welcome-holder {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 10px;
    }

    #welcome-text {
        height: 50%;
        text-align: center;
    }
}

/*  */