/* Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*  */

/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
    --main-black: #000000;
}

/*  */

/* Base reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

/*  */

/* box-sizing and font sizing */

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

@media only screen and (max-width: 1215px), screen and (max-height: 1060px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px), screen and (max-height: 860px) {
    html {
        font-size: 8px;
    }


}

@media only screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }

}

@media only screen and (max-height: 260px) {
    html {
        font-size: 40%;
    }

}

@media only screen and (max-height: 240px) {
    html {
        font-size: 30%;
    }

}

/* Height */
/* @media only screen and (max-height: 1140px) {
    html {
        font-size: 75%;
    }
}

@media only screen and (max-height: 600px) {
    html {
        font-size: 50%;
    }
}
@media only screen and (max-height: 500px) {
    html {
        font-size: 40%;
    }
} */

/* General */

a, a:visited {
    text-decoration: none;
    color: var(--main-black);
}

/*  */

#main-doc {
    /* margin-top: 100px; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 3px 0 rgba(146, 146, 146, 0.3);
    z-index: 10;
}

#navbar {
    font-size: 1.4rem;
}

.nav-list {
    list-style: none;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.nav-list-item, .nav-list-item:visited {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.welcome-section {
    flex: 1;
    height: 100vh;
    /* margin-bottom: 40px; ADD AFTER SUBMIT*/
    /* padding-bottom: 30px; */
}

.welcome-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
   padding-top: 115px;
   height: calc(100vh - 115px);
}

#welcome-text {
    display: table;
    height: 16rem;
    padding-bottom: 2rem;
    color: var(--main-black);
    margin-top: 0px;
   /*  margin-left: 12.5%; */
}

#welcome-image {

    padding-right: 50px;
    padding-left: 50px;
    height: 50vh;
    width: auto;
    float: right;

    /* margin-right: 12.5%;  */
    /* align-self: flex-end;  */  

  

}

#prof-pic {
    padding: 30px;
        width: 30rem;
        height: auto;
        border-radius: 15%;

    /* margin: ; */
}

h1 {
    font-size: 7rem;
    word-spacing: -2rem;
    line-height: 7rem;
    white-space: pre;
    margin: auto;
}

#my-name {
    display: inline-block;
    height: calc(7rem*2);
}

#cursor {
    display: inline;
    word-spacing: -3rem;
    font-size: larger;
}

#description {
    padding-top: 1.4vw;
    font-size: 1.3rem;
}

/* .scroll-down {
    position: relative;
    display: flex;
    height: 25rem;
    justify-content: center;
    align-items: flex-end;

}

.scroll-image {
    
    height: 80px;
    width:80px;
} */

.projects-section {
    padding-top: 40px;
    padding-left: 20px;
}

/* .projects-section-header {
} */

#github {
    width: 20px;
    height: 20px;
}

/* @media only screen and (max-width: 1400px) {
    #welcome-text {
        margin: auto;
    }
    #welcome-image {
        margin: auto;
        float: none;
    }
} */

/* fix nav link size on small devices */
@media only screen and (max-width: 800px) {
    #navbar {
        font-size: 150%;
    }
}

/* fix horizontal view on mobile devices */

@media only screen and (max-height: 460px) {

    .welcome-holder {
        padding-top: 90px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    #welcome-text {
        padding-bottom: 5%;
    }
    
    .welcome-item {
        padding: 5%;
    }

    
    
    #prof-pic {
        padding: 30px;
        width: 150px;
        height: auto;
    }


}