/* Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*  */

/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
    --main-black: #000000;
}

/*  */

/* Base reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

/*  */

/* box-sizing and font sizing */

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

@media only screen and (max-width: 1215px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 10px;
    }
}
/* General */

a, a:visited {
    text-decoration: none;
    color: var(--main-black);
}

/*  */

#main-doc {
    /* margin-top: 100px; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 3px 0 rgba(242, 245, 254, 1);
    z-index: 10;
}

#navbar {
    font-size: 1.4rem;
}

.nav-list {
    list-style: none;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.nav-list-item, .nav-list-item:visited {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.welcome-section {
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.welcome-holder {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    padding-top: 115px;
    flex: 10;
    min-height: 00;
}

#welcome-text {
    width: fit-content;
    justify-self: center;
    justify-content: center;
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--main-black);
}

#welcome-image {
    align-self: flex-end;
    margin: 30px;
    max-height: 400rem;
    width: auto;
    
}

#prof-pic {
    border-radius: 5%;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 7rem;
    word-spacing: -2rem;
    line-height: 7rem;
    white-space: pre;
}



#my-name {
    display: inline-block;
}

#cursor {
    display: inline;
    word-spacing: -3rem;
    font-size: larger;
}

#description {
    padding-top: 1vw;
    font-size: 1.3rem;
}

#github {
    width: 20px;
    height: 20px;
}