@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#header {
    display: grid;
    grid-template-columns: 12;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Fredoka One, sans-serif;
}

#home-link {
    text-decoration: none;
    color: #333;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1/5;
    margin-left: 15px;
}

#header-img {
    max-width: 100px;
    height: auto;
}

#title {
    font-size: 40px;
}

#nav-bar {
   grid-column: 7/11;
   align-self: center;
   justify-self: end;
   margin-right: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0px 0px 0px auto;
   justify-content:flex-end;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 1vw;
    
    
}

body {

}

@media (max-width: 608px) {
    /* .nav-link {
      font-size: 12px;
    } */
    /* #logo {
        zoom: 80%;
        -moz-transform: scale(0.5);
        } */
  }

  @media (max-width: 742px) {
    #nav-bar {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  #content {
    font-family: Noto Sans JP, sans-serif;
  }
  #video-module {
    margin-left: 15%;
    margin-right: 15%;
  }

  #iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  #iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .section-head {
    margin: 20px 30px 40px 30px
  }
